<div class="container">
    <div class="row">
      <div class="col">
        <app-header></app-header>
      </div>
    </div>
    <div class="row row-full">
      <div class="col">
        <div class="wrapper">
          <app-search></app-search>
          <app-photos-list></app-photos-list>
        </div>
      </div>
    </div>
</div>