<h2>Photo results:</h2>
<div *ngIf="photos$ | async as photos; else message" class="photoItems">
    <div *ngFor="let photo of pagedItems" class="photo-item">					
        <img src="{{photo.images.fixed_height_downsampled.url}}?&api_key{{requestKey}}"/>
    </div>        
</div>
<ul *ngIf="pager && pager.currentPage" class="pagination">
    <!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li> -->
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <!-- <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li> -->
    <li>
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li> -->
</ul>
<ng-template #message>
    <div class="message">You can use the search box to find some gifs.</div>
</ng-template>
