:host {
  .photoItems {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    .photo-item {
      margin: 0;
    }
  }

  .message {
    padding: 14px 10px;
    margin-bottom: 20px;
    border: 1px solid pink;
    border-radius: 6px;
  }

  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    flex: 1 0 100%;

    li {
      display: inline;      
      a {
          position: relative;
          float: left;
          padding: 6px 12px;
          margin-left: -1px;
          line-height: 1.42857143;
          color: #337ab7;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
      }
      &:first-child > a {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    .active {
      a {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
      }
    }
    .disabled {
      color: #777;
      cursor: not-allowed;
      background-color: #fff;
      border-color: #ddd;
    }
  }
}