:host {
    display: flex;
    max-height: 50px;

    span {
        display: block;
    }

    input {
        border-radius: 6px 0 0 6px;
        border: 1px solid #ccc;
        padding: 12px;
        flex: 1;
    }

    .btn--search {
        border-radius: 0 6px 6px 0;
        padding: 11px;
        position: relative;
        margin: 0;
    }
    .error-msg {
        color: red;
        display: block;
    }
}