<input [formControl]="photos"  type="text" (keydown)="onKeydown($event)" placeholder="Find a gif">

<button (click)="searchPhotos()" class="btn btn--search">search</button>

<div *ngIf="photos.errors && photos.errors.invalidQuery" class="error-msg">
    {{errorMsg}}
</div>