html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row {
    display: flex;
    flex-wrap: wrap;

    &-full {
        height: 100%;
    }
}
.col {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.btn {
    background: #f1f1f1;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0 20px 0;
    outline: 0;
    padding: 12px 2px 12px;
    min-width: 160px;
    text-align: center;
    border-radius: 25px;

    &:hover {
        background: #dddddd;
    }

    &--next {
        background-color: #00c9a4;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.10);
        color: #fff;

        &:hover {
            background-color: #02b392;
        }
    }

    &--back {
        color: #123e68;
    }
}

input:focus,
input:hover {
    outline: none;
    border: none;
}